@model IEnumerable<PCPlumbing.Models.Images>

@{
    ViewBag.Title = "Remove Images";
}

<h2>Remove</h2>

<div class="form-horizontal">
    <h4>Remove Existing Images</h4>
    <hr />

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="row" id="remove">
                    <img src="@item.Image" />
                </div>
                <div class="row">
                    @Html.DisplayFor(modelItem => item.ImageName)
                </div>
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Delete", "Delete")
                        </div>
                    }
                    <hr />
                </div>
            </div>
        }
    </div>
</div>

<hr />

<p>@Html.ActionLink("Add a new image", "Create", "Images")</p>
