@model IEnumerable<PCPlumbing.Models.Images>
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "Gallery";
}

@section ContactDesc{
    Need an experienced plumber in Somerset?  Call PC Plumbing on
}
@section pageTitle{
    Our Gallery
}
@section pageIcon {
    <img src="../Content/Images/Photos.png" />
}

@section pageHeading1{
    Previous plumbing and heating projects
}

@section section1{
    <p>
        Take a look at some of our preivous plumbing and heating projects that we have carried out in Somerset.
    </p>
}

@section section2{
    <div class="row">
        @{
            var counter = 0;
        }


        @foreach (var item in Model)
        {
            <div class="col-md-3 col-xs-6" id="galleryCol">
                <div class="gallery">
                    <div class="row" id="galleryImg">
                        @{
                            counter = counter + 1;
                            var noSlides = Model.Count();
                        }
                        <img id="@counter" onclick="openModal('@item.Image', '@item.ImageBefore', @counter, @noSlides, '@item.ImageName')" onmouseover="showBefore('@item.ImageBefore', @counter)" onmouseout="showAfter('@item.Image', @counter)" class="hover-shadow object-fit_cover" src="..@item.Image" alt="" />
                    </div>
                    <div class="row" id="galleryTitle">
                        <h5>@Html.DisplayFor(modelItem => item.ImageName)</h5>
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="galleryModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <div id="mySlides">
                <img id="largeImg" class="object-fit: contain" />
            </div>
            <div id="beforeAfterSlides">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <img id="beforeImg" class="object-fit_cover" />
                        <h2>Before</h2>
                    </div>
                    <div class="col-lg-6 col-md-12" id="slideImage">
                        <img id="afterImg" class="object-fit_cover" />
                        <h2>After</h2>
                    </div>
                </div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094</a>
            <a class="next" onclick="plusSlides(1)">&#10095</a>

            <div class="caption-container">
                <h3 id="caption"></h3>
            </div>
        </div>
    </div>
}


