<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Plumbing - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <p class="navbar-text visible-xs-inline-block" id="contactSml">
                        <i class="fa fa-phone" aria-hidden="true"></i><b> 01460 68752</b>
                        &nbsp;<i>or</i>&nbsp; <b>07968 210 302</b>
                    </p>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Services
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Plumbing", "Plumbing", "Home")</li>
                                <li>@Html.ActionLink("Central Heating", "CentralHeating", "Home")</li>
                                <li>@Html.ActionLink("Boilers", "Boilers", "Home")</li>
                                <li>@Html.ActionLink("Bathrooms", "Bathrooms", "Home")</li>
                                <li>@Html.ActionLink("Renewable Energy", "Renewable", "Home")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Gallery", "Index", "Images")</li>
                        <li>@Html.ActionLink("Advice", "Advice", "Home")</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="menubar">
        <div class="view">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 col-xs-12">
                    <img src="../Content/Images/PCPlumbingLogo.png" />
                </div>
                <div class="col-md-3">
                    <div class="contactDets">
                        <h4><b>01460 68752</b></h4>
                        <h4><b>07968 210 302</b></h4>
                        <p>paul.pcplumbing@me.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <div class="row" id="break"></div>

    <footer>
        <div class="view">
            <div class="row" id="contactInfo" style="align-content: center">
                <div class="col-md-3" id="footerAddress">
                    PC Plumbing, Briardene, Forton Road, Chard, Somerset, TA20 2HS
                </div>
                <div class="col-md-6">
                    <i class="fa fa-phone" aria-hidden="true"></i><b> 01460 68752</b>
                    <i>or</i> <b>07968 210 302</b>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> paul.pcplumbing@me.com</p>
                </div>
                <div class="col-md-3" id="socialMedia">
                    <a href="https://www.facebook.com/PC-Plumbing-829284977149332/"><i class="fa fa-facebook-square" aria-hidden="true" id="facebook"></i></a>
                    <a href="https://twitter.com/pcplumbiop"><i class="fa fa-twitter-square" aria-hidden="true" id="twitter"></i></a>
                    <a href="https://plus.google.com/104697928990093673440"><i class="fa fa-google-plus-square" aria-hidden="true" id="google"></i></a>
                    <img src="../Content/Images/oftec-1.png" style="height: 40px;" />
                </div>
            </div>
        </div>
        <div class="subFooter">
            <div class="view">
                <div class="row">
                    <div class="left">&copy; @DateTime.Now.Year - PC Plumbing.  All rights reserved.</div>
                    <div class="right">
                        <a href="../Admins/Index"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                        &nbsp;
                        Web Design by Bethany Fowler
                    </div>
                </div>
            </div>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
