@model PCPlumbing.Models.Contact
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "Contact Us";
}

@section ContactDesc{
    <h3><b>Contact Us At PC Plumbing</b></h3>
    <p>For a <b>free</b> quote or for more information regarding our quality plumbing and heating services, please contact us using the details provided.</p>
}
@section contactDescSml{
    <h3><b>Contact Us At PC Plumbing</b></h3>
    <p>For a <b>free</b> quote or for more information regarding our quality plumbing and heating services, please contact us using the details provided.</p>
}
@section contactExtra{
    <br />
    PC Plumbing, Briadene, Forton Road, Chard, Somerset, TA20 2HS
}
@section contactExtraSml{
    <br />
    PC Plumbing, Briadene, Forton Road, Chard, Somerset, TA20 2HS
}


@section pageTitle{
    Contact Us
}
@section pageIcon {
    <img src="../Content/Images/Contact.png" />
}

@section pageHeading1{
    <h4>For a <b>free</b> quote or more information about us, feel free to give us a ring or fill in the form below:</h4>
}
@section section1{
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="contactform">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.customerName, htmlAttributes: new { @class = "control-label col-md-2 "})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.customerName, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.customerName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.emailAddress, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.emailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.emailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.contactNumber, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.contactNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.contactNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LfXoRgUAAAAAEFHvieZAPLqY74vzREiI0vVzbxB"></div>
                    <div>
                        @if (TempData["recaptcha"] != null)
                        {
                            <p style="color: red"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> @TempData["recaptcha"]</p>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>

            </div>
        </div>
    }
}